    
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">User List </h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div>
        <input type="text" placeholder="Search order ID" class="form-control bg-white">
      </div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <div class="row gx-3">
          <div class="col-lg-4 col-md-6 me-auto">
            <input type="text" placeholder="Search..." class="form-control">
          </div>
          <div class="col-lg-2 col-6 col-md-3">
            <select class="form-select">
              <option>Status</option>
              <option>Active</option>
              <option>Disabled</option>
              <option>Show all</option>
            </select>
          </div>
          <div class="col-lg-2 col-6 col-md-3">
            <select class="form-select">
              <option>Show 20</option>
              <option>Show 30</option>
              <option>Show 40</option>
            </select>
          </div>
        </div>
      </header> <!-- card-header end// -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>

              <tr>
                <th>#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone No</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-end"> Action </th>
              </tr>

            </thead>
            <tbody>
              {{#each userInfo}}
              <tr>
                <td>{{this._id}}</td>
                <td><b>{{this.firstname}}</b></td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                 {{#if access}}
                <td><span class="badge rounded-pill alert-success">Active</span></td>
                {{else}}
                <td><span class="badge rounded-pill alert-danger">blocked</span></td>
                {{/if}}
                <td class="text-end">
                   {{#if this.access}}
                  <a href="/admin/user-block/{{this._id}}"
                    onclick="return confirm('Do you want to block this user {{this.firstname}}')" class="btn btn-md rounded font-sm">Block</a>
                    {{else}}
                    <a  href="/admin/user-unblocking/{{this._id}}"
                    onclick="return confirm('Do you want to unblock this user{{this.firstname}}')" class="btn btn-md rounded font-sm">Unblock</a>
                    {{/if}}

                  <div class="dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i
                        class="material-icons md-more_horiz"></i> </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">View detail</a>
                      <a class="dropdown-item" href="#">Edit info</a>
                      <a class="dropdown-item text-danger" href="#">Delete</a>
                    </div>
                  </div> <!-- dropdown //end -->
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div> <!-- table-responsive //end -->
      </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item active"><a class="page-link" href="#">01</a></li>
          <li class="page-item"><a class="page-link" href="#">02</a></li>
          <li class="page-item"><a class="page-link" href="#">03</a></li>
          <li class="page-item"><a class="page-link dot" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">16</a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
        </ul>
      </nav>
    </div>
  </section> <!-- content-main end// -->
