{{>adminmain-head}}
<div class="screen-overlay"></div>
{{>side-bar}}
<main class="main-wrap">
    {{>admin-header}}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: {{orders._id}}</p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span class="">
                            <i class="material-icons md-calendar_today"></i> <b>{{orderDetails.date}}</b>
                        </span> <br>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                            <option>Change status</option>
                            <option>Awaiting payment</option>
                            <option>Confirmed</option>
                            <option>Shipped</option>
                            <option>Delivered</option>
                        </select>
                        <a class="btn btn-primary" href="#">Save</a>
                        <a class="btn btn-secondary print ms-2" href="#"><i
                                class="icon material-icons md-print"></i></a>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    {{orderDetails.name}} <br> <template class="__cf_email__"
                                        data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                    <br> +91 {{orderDetails.mobile}}
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: FedEx  <br> Pay method: {{orderDetails.paymentMethod}} <br> Status:
                                    {{orderDetails.status}}
                                </p>
                                <a href="#">Download info</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: {{orderDetails.deliveryDetails.city}},
                                    {{orderDetails.deliveryDetails.state}}<br>{{orderDetails.deliveryDetails.landmark}},
                                   , {{orderDetails.deliveryDetails.locality}} <br> Po Box :{{orderDetails.deliveryDetails.pincode}}
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orderDetails.products}}
                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="{{item.image.[0]}}" width="40" height="40"
                                                        class="img-xs" alt="Item">
                                                </div>
                                                 <div class="info ms-3 ml-2">{{item.name}}</div>
                                            </a>
                                        </td>
                                        {{#if offerPrice}}
                                        <td> ${{offerPrice}}</td>Filter
                                        {{else}}
                                        <td> ${{item.price}}</td>
                                        {{/if}}
                                        <td> {{this.quantity}}</td>
                                        {{!-- <td class="text-end"> $ {{multiply offerPrice quantity}} </td> --}}
                                          {{/each}}
                                          <td class="text-end">${{orderDetails.totalPrice}}   </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    {{!-- <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        {{#if orderDetails.reasonTocancell}}
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15 text-danger">This order has been cancelled by the user</h6>
                            <p>
                                Reason: {{orderDetails.reasonTocancell}}
                            </p>
                        </div>
                        {{/if}}
                        {{#if orderDetails.returnReason}}
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15 text-danger">This order has been returned by the user</h6>
                            <p>
                                Reason: {{orderDetails.returnReason}}
                            </p>
                        </div>
                        {{/if}}
                        {{#if (eq orderDetails.returnStatus 'accepted')}}
                        <div class="box shadow-sm bg-light mt-4">
                            <h6 class="mb-15 text-success">Select expected pick up date</h6>
                            <label for="date-input">Select a date:</label>
                            <input type="text" id="myDatepicker">
                            <div class="row">
                                <div class="col-12 text-center mt-3">
                                    <button id="updateDateButton" class="btn btn-primary btn-sm mx-auto"
                                        data-bs-toggle="modal" data-bs-target="#successModal"
                                        onclick="setPickUpDate('{{orderDetails._id}}')" disabled>Submit</button>
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        {{#if (eq orderDetails.refundStatus 'completed')}}
                        <!-- Refund completed and refund amount -->
                        <div class="box shadow-sm bg-light mt-4" style="height: 150px;">
                            <h6 class="mb-15 text-success">Refund Completed</h6>
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <span class="fs-5 me-2">₹</span>
                                <span id="refund-completed" class="fs-5 fw-bold">{{orderDetails.offerTotal}}</span>
                            </div>
                        </div>
                        {{else}}
                        {{#if (eq orderDetails.returnStatus 'completed')}}
                        <div class="box shadow-sm bg-light mt-4">
                            <h6 class="mb-15 text-danger">Refund Amount</h6>
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <span class="fs-5 me-2">₹</span>
                                <span id="refund-amount" class="fs-5 fw-bold">{{orderDetails.offerTotal}}</span>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center mt-3">
                                    <button id="refundButton" class="btn btn-danger btn-sm mx-auto"
                                        onclick="refundAmount('{{orderDetails._id}}','{{orderDetails.userId}}','{{orderDetails.offerTotal}}')">Refund</button>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                    </div> <!-- col// --> --}}
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->

    <!-- Modal for showing a success message for date updation -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-success">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-4">
                    <i class="fas fa-check-circle fa-4x text-white mb-3"></i>
                    <h5 class="modal-title text-white mb-3" id="successModalLabel">Success</h5>
                    <p class="text-white">The date has been successfully updated.</p>
                    <form id="successForm">
                        <input type="hidden" id="orderId" value="">
                    </form>
                    <button type="button" class="btn mt-3 text-dark"
                        style="background-color: #FFFFFF; color: #000000; border-color: #FFFFFF;"
                        onmouseover="this.style.backgroundColor='#F5F5F5'; this.style.color='#000000';"
                        onmouseout="this.style.backgroundColor='#FFFFFF'; this.style.color='#000000';"
                        data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>



    {{>admin-footer}}
    <!-- Include the Bootstrap Datepicker CSS and JS files -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myDatepicker').datepicker({
                format: "dd-mm-yyyy",
                autoclose: true,
                startDate: new Date(),
            });
            // add event listener to datepicker input
            $('#myDatepicker').on('change', function () {
                // check if input value is not empty
                if ($(this).val() !== '') {
                    // enable submit button
                    $('#updateDateButton').prop('disabled', false);
                } else {
                    // disable submit button
                    $('#updateDateButton').prop('disabled', true);
                }
            });
        });
        const setPickUpDate = (orderId) => {
            const pickupdate = document.getElementById('myDatepicker').value
            $.ajax({
                url: '/admin/set-pick-up-date',
                data: {
                    orderId,
                    pickupdate
                },
                method: 'post'
            })
        }
        const refundAmount = (orderId, userId, amount) => {
            console.log(orderId, userId, amount)
            $.ajax({
                url: '/admin/refund-amount',
                data: {
                    orderId,
                    userId,
                    amount
                },
                method: 'post',
                success: (response) => {
                    console.log(response)
                    if (response.status) {
                        Swal.fire({
                            imageUrl: 'https://media.giphy.com/media/2u11zpzwyMTy8/giphy.gif',
                            title: 'Transferring Money...',
                            text: 'Please wait while we process your money transfer.',
                            showConfirmButton: true,
                            confirmButtonText: 'Close'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    } else {
                        Swal.fire({
                            imageUrl: 'https://media.giphy.com/media/Km2YiI2mzRKgw/giphy.gif',
                            title: 'Transfer Failed',
                            text: 'Sorry, we were unable to process your money transfer. Please check your account balance and try again later.',
                            showConfirmButton: true,
                            confirmButtonText: 'Close'
                        });
                    }
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }
    
    </script>