<body>
    {{>user-header}}

    <div class="main-wrapper">
        {{>user-sidebar}}
        <!-- Mobile menu start -->
        {{!-- <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="clickalbe-sidebar-wrap">
                <a class="sidebar-close"><i class="icon_close"></i></a>
                <div class="mobile-header-content-area">
                    <div class="header-offer-wrap mobile-header-padding-border-4">
                        <p><i class="icon-paper-plane"></i> FREE SHIPPING world wide for all orders over
                            <span>$199</span>
                        </p>
                    </div>
                    <div class="mobile-search mobile-header-padding-border-1">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search here…">
                            <button class="button-search"><i class="icon-magnifier"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-padding-border-2">
                        <!-- mobile menu start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children"><a href="index.html">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home version 1 </a></li>
                                        <li><a href="index-2.html">Home version 2</a></li>
                                        <li><a href="index-3.html">Home version 3</a></li>
                                        <li><a href="index-4.html">Home version 4</a></li>
                                        <li><a href="index-5.html">Home version 5</a></li>
                                        <li><a href="index-6.html">Home version 6</a></li>
                                        <li><a href="index-7.html">Home version 7</a></li>
                                        <li><a href="index-8.html">Home version 8</a></li>
                                        <li><a href="index-9.html">Home version 9</a></li>
                                        <li><a href="index-10.html">Home version 10</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children "><a href="#">shop</a>
                                    <ul class="dropdown">
                                        <li class="menu-item-has-children"><a href="#">shop layout</a>
                                            <ul class="dropdown">
                                                <li><a href="shop.html">standard style</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Products Layout</a>
                                            <ul class="dropdown">
                                                <li><a href="product-details.html">tab style 1</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="about-us.html">about us </a></li>
                                        <li><a href="cart.html">cart page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children "><a href="#">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">blog standard </a></li>
                                        <li><a href="blog-no-sidebar.html">blog no sidebar </a></li>
                                        <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </nav>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-header-info-wrap mobile-header-padding-border-3">
                        <div class="single-mobile-header-info">
                            <a href="order-tracking.html"><i class="lastudioicon-pin-3-2"></i> Track Your Order </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a class="mobile-language-active" href="#">Language <span><i
                                        class="icon-arrow-down"></i></span></a>
                            <div class="lang-curr-dropdown lang-dropdown-active">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-mobile-header-info">
                            <a class="mobile-currency-active" href="#">Currency <span><i
                                        class="icon-arrow-down"></i></span></a>
                            <div class="lang-curr-dropdown curr-dropdown-active">
                                <ul>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                    <li><a href="#">Real</a></li>
                                    <li><a href="#">BDT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-contact-info mobile-header-padding-border-4">
                        <ul>
                            <li><i class="icon-phone "></i> (+612) 2531 5600</li>
                            <li><i class="icon-envelope-open "></i> norda@domain.com</li>
                            <li><i class="icon-home"></i> PO Box 1622 Colins Street West Australia</li>
                        </ul>
                    </div>
                    <div class="mobile-social-icon">
                        <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                        <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                        <a class="pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                        <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="icon_close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Simple Black T-Shirt</a></h4>
                                <span> 1 × $49.00 </span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Norda Backpack</a></h4>
                                <span> 1 × $49.00 </span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-checkout-btn">
                        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div> --}}
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Checkout </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="checkout-main-area pt-120 pb-120">
            <div class="container">
                <div class="customer-zone mb-20">
                    <p class="cart-page-title">Returning customer? <a class="checkout-click1" href="#">Click here to
                            login</a></p>
                    <div class="checkout-login-info">
                        <p>If you have shopped with us before, please enter your details in the boxes below. If you are
                            a new customer, please proceed to the Billing & Shipping section.</p>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="sin-checkout-login">
                                        <label>Username or email address <span>*</span></label>
                                        <input type="text" name="user-name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="sin-checkout-login">
                                        <label>Passwords <span>*</span></label>
                                        <input type="password" name="user-password">
                                    </div>
                                </div>
                            </div>
                            <div class="button-remember-wrap">
                                <button class="button" type="submit">Login</button>
                                <div class="checkout-login-toggle-btn">
                                    <input type="checkbox">
                                    <label>Remember me</label>
                                </div>
                            </div>
                            <div class="lost-password">
                                <a href="#">Lost your password?</a>
                            </div>
                        </form>
                        <div class="checkout-login-social">
                            <span>Login with:</span>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="customer-zone mb-20">
                    <p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter
                            your code</a></p>
                    <div class="checkout-login-info3">
                        <input id="code" type="text" placeholder="Coupon code">
                        <input type="button" onclick="checkCoupon()" value="Apply Coupon">

                        {{#each coupons.normalCoupons }}
                        <div class="coupon-card"
                            style="background-color: #df1919; border: 2px solid #000000; width: 150px; padding: 10px;">
                            <h4 class="coupon-title" style="text-align: center; margin-bottom: 10px;">{{this.code}}</h4>
                            <p class="coupon-description" style="text-align: center; color: antiquewhite;">
                                SAVE {{this.percentage}}% off at checkout</p>
                            <p class="coupon-expires" style="text-align:center; color: cornsilk; margin-top: 1px;">
                                Minimum spend of ${{this.limit}}</p>
                        </div>
                        {{/each}}
                    </div>

                </div>
                <div class="checkout pt-30">
                    <div class="row">
                        {{!-- <div class="col-lg-7">
                            <div class="billing-info-wrap mr-50">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>First Name <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Last Name <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Company Name <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-select mb-20">
                                            <label>Country <abbr class="required" title="required">*</abbr></label>
                                            <select>
                                                <option>Select a country</option>
                                                <option>Azerbaijan</option>
                                                <option>Bahamas</option>
                                                <option>Bahrain</option>
                                                <option>Bangladesh</option>
                                                <option>Barbados</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Street Address <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input class="billing-address" placeholder="House number and street name"
                                                type="text">
                                            <input placeholder="Apartment, suite, unit etc." type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Town / City <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-info mb-20">
                                            <label>State / County <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-info mb-20">
                                            <label>Postcode / ZIP <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-info mb-20">
                                            <label>Phone <abbr class="required" title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-info mb-20">
                                            <label>Email Address <abbr class="required"
                                                    title="required">*</abbr></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-account mb-25">
                                    <input class="checkout-toggle2" type="checkbox">
                                    <span>Create an account?</span>
                                </div>
                                <div class="checkout-account-toggle open-toggle2 mb-30">
                                    <label>Email Address</label>
                                    <input placeholder="Password" type="password">
                                </div>
                                <div class="checkout-account mt-25">
                                    <input class="checkout-toggle" type="checkbox">
                                    <span>Ship to a different address?</span>
                                </div>
                                <div class="different-address open-toggle mt-30">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>First Name</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Last Name</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Company Name</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="billing-select mb-20">
                                                <label>Country</label>
                                                <select>
                                                    <option>Select a country</option>
                                                    <option>Azerbaijan</option>
                                                    <option>Bahamas</option>
                                                    <option>Bahrain</option>
                                                    <option>United Kingdom</option>
                                                    <option>Barbados</option>
                                                    <option>India</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Street Address</label>
                                                <input class="billing-address"
                                                    placeholder="House number and street name" type="text">
                                                <input placeholder="Apartment, suite, unit etc." type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="billing-info mb-20">
                                                <label>Town / City</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>State / County</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Postcode / ZIP</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Phone</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="billing-info mb-20">
                                                <label>Email Address</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="additional-info-wrap">
                                    <label>Order notes</label>
                                    <textarea placeholder="Notes about your order, e.g. special notes for delivery. "
                                        name="message"></textarea>
                                </div>
                            </div>
                        </div> --}}
                        <div class="col-12">
                            <form id="checkout-form">
                                <div class="your-order-area">


                                    <div class="your-order-wrap gray-bg-4">
                                        <div class="row">

                                            <div class="your-order-info-wrap col-6">
                                                <h3>Your order</h3>
                                                <div class="your-order-info">
                                                    <ul>
                                                        <li>Product <span>Total</span></li>
                                                    </ul>
                                                </div>
                                                <div class="your-order-middle">
                                                    <ul>
                                                        {{#each cartItems.products}}
                                                        <li>{{product_title}} X {{quantity}} <span>${{subtotal}}</span>
                                                        </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>

                                                <div class="your-order-info order-total">
                                                    <ul>
                                                        <li>Total <span id="total-amount">${{totalAmount.total}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <h3>Billing Address</h3>
                                                <div class="row">
                                                    <input type="text" name="userId" id="" value="{{user._id}}" hidden>

                                                    {{#if addresses}}
                                                    {{#each addresses}}
                                                    <address>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="addressid" value="{{_id}}">
                                                            <label class="form-check-label" for="inlineRadio2"></label>
                                                        </div>
                                                        <p><strong>{{name}}</strong></p>
                                                        <p>{{locality}},{{landmark}} <br>{{city}},{{state}},{{pincode}}
                                                        </p>
                                                        <p>Mobile: {{mobile}}</p>
                                                    </address>
                                                    {{/each}}
                                                    {{else}}
                                                    <button type="button" class="btn"
                                                        style="background-color: black; border-color: black; border-radius: 5px; box-shadow: 0 4px 0 #444; color: white; font-size: 16px; font-weight: bold; text-transform: uppercase; transition: all 0.2s ease-in-out;"
                                                        onclick="window.location.href='/user-account';">Add
                                                        Address</button>


                                                    {{/if}}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="payment-method">
                                            <div class="pay-top sin-payment">
                                                <input id="payment-method-2" class="input-radio" type="radio"
                                                    value="razorpay" name="payment_method">
                                                <label for="payment-method-2">Razorpay</label>
                                                <div class="payment-box payment_method_bacs">
                                                    <p>Make your payment directly into our bank account. Please use your
                                                        Order ID as the payment reference.</p>
                                                </div>
                                            </div>
                                            <div class="pay-top sin-payment">
                                                <input id="payment-method-3" class="input-radio" type="radio"
                                                    value="cod" name="payment_method">
                                                <label for="payment-method-3">Cash on delivery </label>
                                                <div class="payment-box payment_method_bacs">
                                                    <p>Pay Only When The Get Your Product In Your Hand.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="pay-top sin-payment">
                                                <input id="payment-method-4" class="input-radio" type="radio"
                                                    value="wallet" name="payment_method">
                                                <label for="payment-method-4">My Wallet</label>
                                                <div class="payment-box payment_method_bacs">
                                                    <p>Use your wallet money for easy payment and refunds</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Place-order">
                                        <button id="place-order" type="submit">Place Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {{>user-footer}}


</body>







<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

    const validatePlaceOrder = () => {
        const addressRadios = document.getElementsByName('addressid');
        let addressSelected = false;
        for (let i = 0; i < addressRadios.length; i++) {
            if (addressRadios[i].checked) {
                addressSelected = true;
                break;
            }
        }
        if (!addressSelected) {
            // Use SweetAlert to show a popup alert
            Swal.fire("Oops!", "Please select an address.", "error");
            return false;
        }
        const paymentRadios = document.getElementsByName('payment_method');
        let paymentSelected = false;
        for (let i = 0; i < paymentRadios.length; i++) {
            if (paymentRadios[i].checked) {
                paymentSelected = true;
                break;
            }
        }
        if (!paymentSelected) {
            // Use SweetAlert to show a popup alert
            Swal.fire("Oops!", "Please select a payment method.", "error");
            return false;
        }
        // Validation passed, allow form submission
        return true;
    }




    $("#checkout-form").submit((e) => {
        console.log(">>>>>OK<<<<<<")
        e.preventDefault()
        if (!validatePlaceOrder()) {
            // Validation failed, don't submit the form
            return false;
        }
        const deliveryAddress = $('input[name="addressid"]').val()
        if (!deliveryAddress) {
            Swal.fire({
                icon: 'warning',
                title: 'Warning...!',
                text: 'Please add an address to place order.',
                confirmButtonText: 'OK',
                confirmButtonColor: '#8B4000',
                focusConfirm: '#FF0000'
            })
        } else {
            $.ajax({
                url: '/order-placed',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    console.log(response)
                    if (response.cod) {
                        // Define the SweetAlert options
                        const swalOptions = {
                            title: 'PERFECT !',
                            text: 'ORDER PLACED SUCCESSFULLY !',
                            icon: 'success',
                            timer: 6000 // delay in milliseconds
                        };
                        // Show the SweetAlert dialog and perform an action after the user clicks the OK button
                        Swal.fire(swalOptions).then((result) => {
                            if (result.isConfirmed) {
                                // Redirect to the root URL after the user clicks the OK button
                                window.location.href = '/order-placed-landing';
                            }
                        });
                    } else if (response.id) {
                        console.log("called")
                        getRazorpay(response)
                    } else {
                        const walletBalance = response.balance
                        const walletId = response._id
                        const total = response.total
                        Swal.fire({
                            title: 'Your Wallet Information',
                          
                            showCloseButton: false,
                            showCancelButton: true,
                            focusConfirm: false,
                            confirmButtonText:
                                '<i class="fa fa-inr"></i> Pay',
                            confirmButtonAriaLabel: 'Pay',
                            cancelButtonText:
                                '<i class="fa fa-thumbs-down"></i> Cancel',
                            cancelButtonAriaLabel: 'Cancel',
                            customClass: {
                                container: 'my-swal'
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Make AJAX call to pay with wallet
                                $.ajax({
                                    type: "POST",
                                    url: "/wallet-payment",
                                    data: { confirmed: true, balance:walletBalance },
                                    success: function (response) {
                                        console.log(response)
                                        // Handle payment success
                                        if (response.paid) {
                                            const amountPaid = response.amountPaid;
                                            const newBalance = response.updatedBalance;
                                            Swal.fire({
                                                title: 'Payment Successful!',
                                                icon: 'success',
                                                showConfirmButton: true,
                                                confirmButtonText: 'Close',
                                                customClass: {
                                                    container: 'my-swal'
                                                }
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    couponResponsePareser(response)
                                                }
                                            });
                                        } else {
                                            Swal.fire({
                                                title: 'Insufficient Balance!',
                                                text: 'Your account balance is not enough to complete this transaction.',
                                                icon: 'error',
                                                showConfirmButton: true,
                                                confirmButtonText: 'OK',
                                                customClass: {
                                                    container: 'my-swal'
                                                }
                                            });
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        // Handle payment error
                                        Swal.fire({
                                            title: 'Payment Error!',
                                            text: 'An error occurred while processing your payment. Please try again later.',
                                            icon: 'error',
                                            showConfirmButton: true,
                                            confirmButtonText: 'Close',
                                            customClass: {
                                                container: 'my-swal'
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                }
            });
        }
    });






    const getRazorpay = (order) => {
        var options = {
            "key": "rzp_test_KR2oW5tjBzSx0y", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(order, response);
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
        });
        rzp1.open();
        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        const swalOptions = {
                            title: 'PERFECT !',
                            text: 'ORDER PLACED SUCCESSFULLY !',
                            icon: 'success',
                            timer: 6000 // delay in milliseconds
                        };
                        // Show the SweetAlert dialog and perform an action after the user clicks the OK button
                        Swal.fire(swalOptions).then((result) => {
                            if (result.isConfirmed) {
                                // Redirect to the root URL after the user clicks the OK button
                                window.location.href = '/order-placed-landing';
                            }
                        });
                        alert('payment success')
                    } else {
                        alert('payment failed')
                    }
                }
            })
        }
    }
    function checkCoupon() {
        var code = document.getElementById('code').value
        console.log(code)
        $.ajax({
            url: '/check-coupon',
            data: {
                data: code
            },
            method: 'post',
            success: (response => {
                console.log(response)
                if (response.status) {
                    Swal.fire({
                        text: `you got ${response.discountPrice} rupees off..`

                    })
                    document.getElementById('total-amount').innerHTML = response.priceAfterDiscount
                } else {
                    console.log("invalid")
                    document.getElementById('error-2').innerHTML = 'Invalid code or <br> Coupon expired'
                }
            })
        })
    }
</script>