{{>user-header}}
{{>user-sidebar}}
<div class="myaccount-table table-responsive text-center">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td>{{@index }}</td>
        <td>{{date}}</td>
        <td>{{status}}</td>
        <td>${{totalAmount.total}}</td>
        {{#if (eq status "completed")}}
        <td><a href="" class="check-btn sqr-btn ">Return</a></td>
        {{else}}
        <td><a href="#" onclick="cancelOrder('{{this._id}}')" class="check-btn sqr-btn ">Cancel</a></td>
        {{/if}}
        <td><a href="/view-user-order-details/{{_id}}" class="check-btn sqr-btn ">View</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
 

{{>user-footer}}