{{>user-header}}

<body>
    <div class="main-wrapper">
        {{>user-sidebar}}
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Cart Page </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form>
                            <div class="table-content table-responsive cart-table-content">
                                {{#if cartItems}}
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Product Price</th>
                                            <th>Qty</th>
                                            <th>Subtotal</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each cartItems.products}}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img class="w-75" src="{{image.[0]}}" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">{{product_title}}</a></td>

                                            {{#if this.offer}}
                                            <span class="new-price">${{product_offer}}</span>
                                            {{else}}
                                            <td class="product-price-cart"><span class="amount"
                                                    id="productprice-{{product_id}}">${{product_price}}</span></td>
                                            {{/if}}
                                            <td class="product-quantity pro-details-quality" data-title="Stock">
                                                <div class="">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-secondary rounded-0"
                                                        onclick="changeQuantity('{{../cartId}}','{{product_id}}','{{../user._id}}',1)">&#43;<i
                                                            class="fi-rs-angle-small-down"></i></button>
                                                    <p class="" id="quantity-{{product_id}}">{{quantity}}</p>
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-secondary rounded-0"
                                                        onclick="changeQuantity('{{../cartId}}','{{product_id}}','{{../user._id}}',-1)">&#8722;<i
                                                            class="fi-rs-angle-small-up"></i></button>
                                                </div>
                                            </td>
                                            <td id="subtotal-{{product_id}}" class="product-subtotal">${{subtotal}}</td>
                                            <td class="product-remove">
                                                {{!-- <a href="#"><i class="icon_close"></i></a> --}}
                                                <a href="#"
                                                    onclick="deleteCartProduct('{{../cartId}}','{{product_id}}')"><i
                                                        class="icon_close"></i></a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="#">Continue Shopping</a>
                                        </div>
                                        <div class="cart-clear">
                                            <button>Update Cart</button>
                                            <a href="#">Clear Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            {{!-- <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form>
                                            <input type="text" required="" name="name">
                                            <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div> --}}

                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">

                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total products <span>{{product.quantity}}</span></h5>
                                    <div class="total-shipping">
                                        <h5>Total shipping</h5>
                                        <ul>
                                            <li><input type="checkbox"> Standard <span>$20.00</span></li>
                                            <li><input type="checkbox"> Express <span>$30.00</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="grand-totall-title">Grand Total
                                        {{#if cartItems.total}}
                                        <span id="totalAmount">${{cartItems.total}}</span>
                                        {{else}}
                                        <span id="totalAmount">${{cartItems.total}}</span>
                                        {{/if}}
                                    </h4>
                                    <a href="/checkout">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div>
            <p>Your Cart is empty.Add some Products.....</p>
        </div>
        {{/if}}
</body>
{{>user-footer}}