<section>
    <div class="main-wrapper">

        <!-- Mobile menu start -->
        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="clickalbe-sidebar-wrap">
                <a class="sidebar-close"><i class="icon_close"></i></a>
                <div class="mobile-header-content-area">
                    <div class="header-offer-wrap mobile-header-padding-border-4">
                        <p><i class="icon-paper-plane"></i> FREE SHIPPING world wide for all orders over
                            <span>$199</span>
                        </p>
                    </div>
                    <div class="mobile-search mobile-header-padding-border-1">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search here…">
                            <button class="button-search"><i class="icon-magnifier"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-padding-border-2">
                        <!-- mobile menu start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children"><a href="index.html">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home version 1 </a></li>
                                        <li><a href="index-2.html">Home version 2</a></li>
                                       
                                    </ul>
                                </li>
                                <li class="menu-item-has-children "><a href="#">shop</a>
                                    <ul class="dropdown">
                                        <li class="menu-item-has-children"><a href="#">shop layout</a>
                                            <ul class="dropdown">
                                                <li><a href="shop.html">standard style</a></li>
                                           
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Products Layout</a>
                                            <ul class="dropdown">
                                                <li><a href="product-details.html">tab style 1</a></li>
                                             
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="about-us.html">about us </a></li>
                                        <li><a href="cart.html">cart page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children "><a href="#">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">blog standard </a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </nav>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-header-info-wrap mobile-header-padding-border-3">
                        <div class="single-mobile-header-info">
                            <a href="order-tracking.html"><i class="lastudioicon-pin-3-2"></i> Track Your Order </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a class="mobile-language-active" href="#">Language <span><i
                                        class="icon-arrow-down"></i></span></a>
                            <div class="lang-curr-dropdown lang-dropdown-active">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-mobile-header-info">
                            <a class="mobile-currency-active" href="#">Currency <span><i
                                        class="icon-arrow-down"></i></span></a>
                            <div class="lang-curr-dropdown curr-dropdown-active">
                                <ul>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                    <li><a href="#">Real</a></li>
                                    <li><a href="#">BDT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-contact-info mobile-header-padding-border-4">
                        <ul>
                            <li><i class="icon-phone "></i> (+612) 2531 5600</li>
                            <li><i class="icon-envelope-open "></i> .com</li>
                            <li><i class="icon-home"></i> PO Box 1622 Colins Street West Australia</li>
                        </ul>
                    </div>
                    <div class="mobile-social-icon">
                        <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                        <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                        <a class="pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                        <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">login - register </li>
                    </ul>
                </div>
            </div>
        </div> --}}
        <div class="login-register-area pt-115 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class= data-toggle="tab" href="/user-login">
                                    <h4> login </h4>
                                </a>
                                <a class="active" data-toggle="tab" href="/signUp">
                                    <h4> SignUp </h4>
                                </a>
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                      
                                        {{!-- {{#if errors}}
                                        <p style="color: red class=" alert alert-danger text-center">{{errors.[0].msg}}
                                        </p>
                                        {{/if}}
                                        {{#if errors}}
                                        <p class="alert alert-danger text-center">{{errors.[0].msg}}</p>
                                        {{/if}}
                                        {{#if signUpErr}}
                                        <p class="alert alert-danger text-center">{{signUpErr}}</p>
                                        {{/if}} --}}

                                        <div class="login-register-form">
                                            <form id="signup" name="signup" action="/signUp" method="post">
                                                <div>
                                                    <small class="text-danger font-weight-bolder"
                                                        style="font-size: 1.2rem; font-family: 'Arial', sans-serif;"></small>
                                                    <input id="firstname" type="text" name="firstname"
                                                        placeholder="Firstname">
                                                </div>
                                                <div>
                                                    <small class="text-danger font-weight-bolder"
                                                        style="font-size: 1.2rem; font-family: 'Arial', sans-serif;"></small>
                                                    <input id="lastname" type="text" name="lastname"
                                                        placeholder="Lastname">
                                                </div>

                                                <div>
                                                    <small class="text-danger font-weight-bolder"
                                                        style="font-size: 1.2rem; font-family: 'Arial', sans-serif;"></small>
                                                    <input id="email" type="text" name="email" placeholder="Email">
                                                </div>

                                                <div>
                                                    <small class="text-danger font-weight-bolder"
                                                        style="font-size: 1.2rem; font-family: 'Arial', sans-serif;"></small>
                                                    <input id="password" type="password" name="password"
                                                        placeholder="Password">
                                                </div>

                                                <div>
                                                    <small class="text-danger font-weight-bolder"
                                                        style="font-size: 1.2rem; font-family: 'Arial', sans-serif;"></small>
                                                    <input id="confirmPassword" type="password" name="confirmPassword"
                                                        placeholder="Confirm Password">
                                                </div>

                                                <div>
                                                    <small class="text-danger font-weight-bolder"
                                                        style="font-size: 1.2rem; font-family: 'Arial', sans-serif;"></small>
                                                    <input id="phone" type="phonenumber" name="phone"
                                                        placeholder="Contact">
                                                </div>
                                                <div class="button-box">
                                                    <button type="submit">SignIn</button>
                                                </div>
                                                <p id="test"></p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="lg2" class="tab-pane">

                                    {{#if errors}}
                                    <p class="alert alert-danger text-center">{{errors.[0].msg}}</p>
                                    {{/if}}
                                    {{#if signUpErr}}
                                    <p class="alert alert-danger text-center">{{signUpErr}}</p>
                                    {{/if}}

                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="#" method="post">
                                                <input type="text" name="name" placeholder="Username">
                                                <input type="password" name="user-password" placeholder="Password">
                                                <input name="email" placeholder="Email" type="email">
                                                <div class="button-box">
                                                    <button type="submit">Register</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>user-footer}}

    </div>
</section>

<script>
const nameEl = document.querySelector('#firstname')
const emailEl = document.querySelector('#email')
const phoneEl = document.querySelector('#phone')
const passwordEl = document.querySelector('#password')
const confirmPasswordEl = document.querySelector('#confirmPassword')
const form = document.querySelector('#signup')
console.log(form)

const checkUsername = () => {
  console.log("wokredddddddd");
  let valid = false

  const min = 3
  const max = 25

  const username = nameEl.value.trim()

  if (!isRequired(username)) {
    showError(nameEl, 'Username cannot be blank.')
  } else if (!isBetween(username.length, min, max)) {
    showError(nameEl, `Username must be between ${min} and ${max} characters.`)
  } else if(/^\.*$/.test(username)) { // Check if username contains only dots
    showError(nameEl, 'Username cannot contain only dots.')
  }else{
    showSuccess(nameEl)
    valid = true
  }
  return valid
}

const checkEmail = () => {
  let valid = false
  const email = emailEl.value.trim()
  if (!isRequired(email)) {
    showError(emailEl, 'Email cannot be blank.')
  } else if (!isEmailValid(email)) {
    showError(emailEl, 'Email is not valid.')
  } else {
    showSuccess(emailEl)
    valid = true
  }
  return valid
}

const checkPhone = () => {
  let valid = false
  const phone = phoneEl.value.trim()
  if (!isRequired(phone)) {
    showError(phoneEl, 'Phone number cannot be blank.')
  } else if (!isMobileValid(phone)) {
    showError(phoneEl, 'Provided Number is not valid.')
  } else {
    showSuccess(phoneEl)
    valid = true
  }
  return valid
}

const checkPassword = () => {
  let valid = false

  const password = passwordEl.value.trim()

  if (!isRequired(password)) {
    showError(passwordEl, 'Password cannot be blank.')
  } else if (!isPasswordSecure(password)) {
    showError(passwordEl, 'Password must has at least 8 characters that include at least 1 lowercase character, 1 uppercase characters, 1 number, and 1 special character in (!@#$%^&*)')
  } else {
    showSuccess(passwordEl)
    valid = true
  }
  return valid
}

const checkConfirmPassword = () => {
  let valid = false
  // check confirm password
  const confirmPassword = confirmPasswordEl.value.trim()
  const password = passwordEl.value.trim()

  if (!isRequired(confirmPassword)) {
    showError(confirmPasswordEl, 'Please enter the password again')
  } else if (password !== confirmPassword) {
    showError(confirmPasswordEl, 'Password`s doesn`t match')
  } else {
    showSuccess(confirmPasswordEl)
    valid = true
  }

  return valid
}

const isEmailValid = (email) => {
  const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  return re.test(email)
}
const isMobileValid = (phone) => {
  const re = /^(?:\+91|0)?[7-9]\d{9}$/
  return re.test(phone)
}

const isPasswordSecure = (password) => {
  const re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
  return re.test(password)
}

const isRequired = value => value !== ''
const isBetween = (length, min, max) => !(length < min || length > max)

const showError = (input, message) => {
  // get the form-field element
  const formField = input.parentElement
  // add the error class
  formField.classList.remove('success')
  formField.classList.add('error')

  // show the error message
  const error = formField.querySelector('small')
  error.textContent = message
}

const showSuccess = (input) => {
  // get the form-field element
  const formField = input.parentElement

  // remove the error class
  formField.classList.remove('error')
  formField.classList.add('success')

  // hide the error message
  const error = formField.querySelector('small')
  error.textContent = ''
}

form.addEventListener('submit', function (e) {
  // prevent the form from submitting
  e.preventDefault()

  // validate fields
  const isUsernameValid = checkUsername()
  const isEmailValid = checkEmail()
  const isMobileValid = checkPhone()
  const isPasswordValid = checkPassword()
  const isConfirmPasswordValid = checkConfirmPassword()

  const isFormValid = isUsernameValid &&
        isEmailValid && isMobileValid &&
        isPasswordValid && isConfirmPasswordValid

  // submit to the server if the form is valid
  if (isFormValid) {
    console.log('form is valid')
    $.ajax({
      type: 'POST',
      url: '/signUp',
      data: $('#signup').serialize(),
      success: (response) => {
        if (response.status) {
          location.href = '/'
        } else {
          location.href = '/signUp'
        }
      }
    })
  }
})

const debounce = (fn, delay = 500) => {
  let timeoutId
  return (...args) => {
    // cancel the previous timer
    if (timeoutId) {
      clearTimeout(timeoutId)
    }
    // setup a new timer
    timeoutId = setTimeout(() => {
      fn.apply(null, args)
    }, delay)
  }
}

form.addEventListener('input', debounce(function (e) {
  switch (e.target.id) {
    case 'firstname':
      checkUsername()
      break
    case 'email':
      checkEmail()
      break
    case 'phone':
      checkPhone()
      break
    case 'password':
      checkPassword()
      break
    case 'confirmPassword':
      checkConfirmPassword()
      break
  }
}))


// const togglePassword = document.querySelector('#toggle-password')
// const passwordField = document.querySelector('#password')

// togglePassword.addEventListener('click', function (e) {
//   const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password'
//   passwordField.setAttribute('type', type)
//   this.querySelector('i').classList.toggle('fa-eye')
//   this.querySelector('i').classList.toggle('fa-eye-slash')
// })

// const toggleConfirmPassword = document.querySelector('#toggle-password2')
// const confirmPasswordField = document.querySelector('#confirmPassword')

// toggleConfirmPassword.addEventListener('click', function (e) {
//   const type = confirmPasswordField.getAttribute('type') === 'password' ? 'text' : 'password'
//   confirmPasswordField.setAttribute('type', type)
//   this.querySelector('i').classList.toggle('fa-eye')
//   this.querySelector('i').classList.toggle('fa-eye-slash')
// })
</script>
