{{>user-header}}

<body>
    <div class="main-wrapper">
        {{>user-sidebar}}
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Cart Page </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                {{#if cartItems}}
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Until Price</th>
                                            <th>Qty</th>
                                            <th>Subtotal</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each cartItems.products}}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img class="w-75" src="/image-products/{{product_id}}.jpg"
                                                        alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">{{product_title}}</a></td>
                                            <td class="product-price-cart"><span
                                                    class="amount">${{product_price}}</span></td>

                                            <td class="product-quantity pro-details-quality">
                                                <div >
                                                    <div class="dec qtybutton" 
                                                        onclick="changeQuantity('{{../cartId}}','{{product_id}}','{{../user._id}}',-1)">
                                                        -</div>
                                                    <input class="cart-plus-minus-box" id="{{product_id}}" type="text" name="qtybutton"
                                                        value="{{quantity}}" data-quantity="{{quantity}}">
                                                    <div class="inc qtybutton"
                                                        onclick="changeQuantity('{{../cartId}}','{{product_id}}','{{../user._id}}',1)">+</div>
                                                </div>
                                            </td>

                                            <td class="product-subtotal">${{product_price}}</td>
                                            <td class="product-remove">
                                                {{!-- <a href="#"><i class="icon_close"></i></a> --}}
                                                <a href="#" onclick="deleteCartProduct('{{../cartId}}','{{product_id}}')"><i class="icon_close"></i></a>

                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                {{else}}
                                <div>
                                    <p>Your Cart is empty.Add some Products.....</p>
                                </div>
                                {{/if}}
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="#">Continue Shopping</a>
                                        </div>
                                        <div class="cart-clear">
                                            <button>Update Cart</button>
                                            <a href="#">Clear Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                {{!-- <div class="cart-tax">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                                    </div>
                                    <div class="tax-wrapper">
                                        <p>Enter your destination to get a shipping estimate.</p>
                                        <div class="tax-select-wrapper">
                                            <div class="tax-select">
                                                <label>
                                                    * Country
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Region / State
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Zip/Postal Code
                                                </label>
                                                <input type="text">
                                            </div>
                                            <button class="cart-btn-2" type="submit">Get A Quote</button>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form>
                                            <input type="text" required="" name="name">
                                            <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total products <span>{{product.quantity}}</span></h5>
                                    <div class="total-shipping">
                                        <h5>Total shipping</h5>
                                        <ul>
                                            <li><input type="checkbox"> Standard <span>$20.00</span></li>
                                            <li><input type="checkbox"> Express <span>$30.00</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="grand-totall-title">Grand Total <span id="totalAmount">{{totalAmount.total}}</span></h4>
                                    <a href="/checkout">Proceed to Checkout</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
{{>user-footer}}