<body>
    <div class="main-wrapper">
        {{>user-header}}
        {{>user-sidebar}}
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Wishlist </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cart-main-area pt-115 pb-120">
            {{#if wishlisted}}
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>action</th>
                                            <th>remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {{#each wishlisted}}
                                            <td class="product-thumbnail">
                                                <a href="#"><img class="w-75" src="{{image.[0]}}" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">{{product_title}}</a></td>
                                            <td class="product-price-cart"><span
                                                    class="amount">${{product_price}}</span></td>
                                            <td class="product-wishlist-cart">
                                                <a onclick="cartAdd('{{product_id}}')" href="#">add to cart</a>
                                                {{!-- <div class="pro-add-to-cart">
                                                    <button onclick="cartAdd('{{product_id}}')" title="Add to Cart">Add
                                                        To
                                                        Cart</button>
                                                </div> --}}
                                            </td>
                                            <td class="product-remove">
                                                <a href="#"
                                                    onclick="deleteCartProduct('{{../cartId}}','{{product_id}}')"><i
                                                        class="icon_close"></i></a>
                                            </td>

                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div style="text-align:center;">
            <h2>No Wishlisted Products !</h2>
        </div>
        {{/if}}
    </div>
    {{>user-footer}}
</body>